
body {
    min-width: 600px; /* Minimum width */
    background-color: #212121;
  }
  @font-face{
    font-family:publicSans;
    src: url("../assets/public-sans/webfonts/PublicSans-Regular.woff")
}
@font-face{
    font-family:publicSansEB;
    src: url("../assets/public-sans/webfonts/PublicSans-ExtraBold.woff")
}
@font-face{
    font-family:publicSansB;
    src: url("../assets/public-sans/webfonts/PublicSans-Bold.woff")
}
@font-face{
    font-family:publicSansT;
    src: url("../assets/public-sans/webfonts/PublicSans-Thin.woff")
}
::-webkit-scrollbar {
  display: none;
  }
